<%- include("_header") -%>

<link rel="stylesheet" href="/css/styleHome.css">

<div id=titre>
    <h1>Basilic - Géoportail </h1>
    <h2>Le portail national des lieux et équipements culturels</h2>
</div>


<div id="presentation">
    <p>
      Bienvenue sur l'exploration interactive de la base nationale des lieux et équipements culturels du ministère de la Culture. Basilic Géoportail est une plateforme publique dédiée à la mise en valeur et à l’analyse de l’offre culturelle et du patrimoine français auprès du grand public comme des acteurs politiques ou académiques. À travers son interface de modification et d’administration de la base de données le Géoportail a aussi pour vocation d’enrichir le référencement des sites culturels français. 
    </p>
</div>



<div id="main">

    <div class="textBox block1">
        <h2>La Carte</h2>
        <p>Trouvez votre prochaine sortie culturelle en naviguant sur la carte interactive dans votre commune, département ou région, ou effectuez une recherche ciblée grâce à la requête avancée. Sélectionnez un site pour accéder à sa fiche d'informations. </p>
        <img src="/img/BASILEP.png" style="height: 80px;">
    </div>

    <div class="textBox block2">
        <h2>Le Dashboard</h2>
        <p>Points Bertin à volonté. À travers une exploration statistique de la base Basilic, visualisez et comparez la distribution des sites culturels, la fréquentation des musées et la répartition des types d'équipements dans les territoires français à plusieurs échelles.</p>
        <img src="/img/BASILEP.png" style="height: 80px;">
    </div>

    <div class="textBox block3">
        <h2>Rechercher un site</h2>
        <p>La base de données est librement accessible et largement perfectible. Inscrivez-vous ou connectez-vous pour rechercher un site culturel, modifier ses informations ou lui ajouter une image. Le Basilic est gourmand, n'hésitez pas à lui proposer de nouveaux lieux en localisant et ajoutant des musées, monuments et autres sites non référencés.</p>
        <img src="/img/BASILEP.png" style="height: 80px;">
    </div>

</div>

<%- include("_footer") -%>